<section class="full centered" (click)="onClick($event)">
    @if(loot().quantity !== 0){
    <img
        (click)="collect($event)"
        [src]="`assets/object/${loot().resource}.webp`"
        [style]="{ left: position().left, top: position().top }"
        alt="wheat"
    />
    } @if(egg(); as egg){
    <img
        class="egg"
        (click)="collectEgg($event)"
        [src]="egg.image"
        [style]="{ left: eggPosition().left, top: eggPosition().top }"
        alt="egg"
    />
    }
</section>
@if(autoPilotService.isActive){
<div class="left" [class]="{ bounce: isActive() }" (click)="travel('left')">
    <div class="arrow-wrapper">
        <img
            class="arrow"
            [src]="leftArrowImage()"
            alt="arrow"
            [class.success]="showLeftSucces()"
        />
        <div class="mask" [class]="{ fade: isFadingLeft() }"></div>
    </div>
</div>
<div class="right" [class]="{ bounce: isActive() }" (click)="travel('right')">
    <div class="arrow-wrapper">
        <img
            class="arrow"
            [src]="rightArrowImage()"
            alt="arrow"
            [class.success]="showRightSucces()"
        />
        <div class="mask rotate" [class]="{ fade: isFadingRight() }"></div>
    </div>
</div>

<div class="top" [class]="{ bounce: isActive() }" (click)="travel('top')">
    <div class="arrow-wrapper">
        <img
            class="arrow"
            [src]="topArrowImage()"
            alt="arrow"
            [class.success]="showTopSucces()"
        />
        <div class="mask half-rotate" [class]="{ fade: isFadingTop() }"></div>
    </div>
</div>

} @else{
<app-monster-sprite
    spritePath="assets/monster/sprite/slime/SpriteSheet_Slime_Base_Dos.avif"
    class="no-click no-select back"
/>
}
