<div class="image-container">
    <img class="profession-img" [src]="professionImage()" alt="profession" />
    <p>{{ level() }}</p>
</div>
<div class="info-container">
    <div class="header">
        <h2>{{ profession().name }}</h2>
        <img
            class="info-button"
            src="assets/icon/information.png"
            alt="info"
            (click)="setDescription()"
        />
    </div>
    <div class="line">
        <p>{{ +professionStatGain() | roundTo : 10 }}</p>
        <img [src]="statIcon()" alt="damage" />
    </div>
    <app-xp-range [currentXp]="xp()" [maxXp]="professionCap()"></app-xp-range>
    @if(descriptionIsVisible()) {
    <p class="description">{{ profession().description }}</p>
    }
</div>
