:host {
    margin-right: 20px;
    margin-left: 20px;
    background-color: brown;
    outline: 3px solid rgb(37, 19, 2);
    border-radius: 5px;
    padding: 4px;
    padding-bottom: 1px;
    display: flex;
    flex-direction: row;
    position: relative;
    gap: 8px;
}

.profession-img {
    height: 80px;
    width: 100px;
    background-color: rgb(99, 33, 7);
    outline: 3px solid rgb(37, 19, 2);
    border-radius: 5px;
    padding: 4px;
}

h2,
p {
    margin: 0;
}

.info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 2px;
    width: 100%;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.line {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    gap: 4px;
}

.line img {
    width: 20px;
}

.image-container {
    position: relative;
}

.image-container p {
    position: absolute;
    right: 2px;
    top: 2px;
    color: green;
    font-weight: 900;
}

.description {
    padding-bottom: 8px;
}
