:host {
    display: block;
}

main {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 10px;
}

.monster-box {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px;
}

.monster {
    width: 60px;
    height: 60px;
}

.monster-panel {
    background-color: brown;
    outline: 3px solid rgb(37, 19, 2);
    border-radius: 5px;
    flex-shrink: 0;
    height: 150px;
    margin: 10px 10px 20px 10px;
}

.grass-bg {
    z-index: -1;
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    top: 0;
    background-image: url("../../../assets/box/gazon.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
