:host {
    display: block;
}

main {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 10px;
}

.monster-box {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px;
}

.monster {
    width: 60px;
    height: 60px;
}

.grass-bg {
    z-index: -1;
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    top: 0;
    background-image: url("../../../assets/box/gazon.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bouncy {
    animation: bounce 5s ease-in-out infinite;
}

@keyframes bounce {
    0%,
    100% {
        transform: translateY(0) scale(1.5);
    }
    50% {
        transform: translateY(-5px) scale(1.5);
    }
}

.monster-panel {
    background-color: brown;
    outline: 3px solid rgb(37, 19, 2);
    border-radius: 5px;
    flex-shrink: 0;
    height: 150px;
    margin: 10px 10px 20px 10px;
}

.profil-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
}

.profil {
    width: 100%;
}

.stat {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 12px;
}

p {
    font-size: 12px;
    margin: 0;
}

.line {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    margin: 2px 10px;
}

.line img {
    width: 18px !important;
}

.inline {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.trait {
    font-weight: bold;
    padding: 0px 20px;
}

h3 {
    margin: 0;
}

.xp {
    width: 70px;
}

.info-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.bottom {
    border-top: 3px solid rgb(37, 19, 2);
}
