<app-modal-layout title="Stable">
    <main>
        <section class="monster-box">
            <div class="grass-bg"></div>
            <img
                class="monster"
                src="assets/monster/terra_larva/terra_larva.webp"
                alt="toi"
            />
            <img
                class="monster"
                src="assets/monster/slime/Slime_Base.webp"
                alt="slime"
            />
        </section>
        <section class="monster-panel"></section>
    </main>
</app-modal-layout>
