@if((worldManager.world$ | async)?.regionAvailable){
<img
    class="button start"
    src="assets/icon/world-level.png"
    (click)="openRegionModal()"
/>
}
<img
    class="button center"
    src="assets/icon/main-menu.png"
    (click)="openMenuModal()"
/>
<img
    class="button end"
    src="assets/icon/treasure.png"
    draggable="false"
    (contextmenu)="disableContext($event)"
    (pointerdown)="ressourceTouched($event)"
    (pointerup)="ressourceUnTouched($event)"
    (pointercancel)="ressourceUnTouched($event)"
/>
