:host {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: brown;
    border-top: 3px solid rgb(37, 19, 2);
    height: 55px;
    padding-bottom: 20px;
    position: relative;
}

.button {
    margin-top: 5px;
    height: 24px;
    width: 24px;
    padding: 2px;
    background-color: rgb(99, 33, 7);
    outline: 2px solid rgb(37, 19, 2);
    border-radius: 5px;
}

.center {
    grid-column-start: 2;
    justify-self: center;
}

.end {
    grid-column-start: 3;
    justify-self: end;
    margin-right: 15px;
}