<section class="gauge">
  <div class="icon-gauge">
    <img src="assets/icon/footsteps.png" alt="foostep" />
    <app-action-gauge
      [durationMs]="travelDuration"
      [progress]="(travelCountDown$ | async) ?? 0"
    />
  </div>
  <div class="icon-gauge">
    <img class="sword" src="assets/icon/sword.png" alt="sword" />
    <app-action-gauge
      [durationMs]="fightingDuration"
      [progress]="(fightingCountDown$ | async) ?? 0"
      [isGreen]="true"
    />
  </div>
</section>
<section class="value">
  <div class="text-col">
    <div class="line">
      <img src="assets/icon/stat/damage.png" alt="damage" />
      <p>{{ human().damage }} Damage</p>
    </div>
    <div class="line">
      <img src="assets/icon/stat/precision.png" alt="damage" />
      <p>{{ human().precison }} precision</p>
    </div>
    <div class="line">
      <img src="assets/icon/stat/piercing.png" alt="damage" />
      <p>{{ human().armorPen }} Armor pen</p>
    </div>
    <div class="line">
      <img src="assets/icon/stat/clover.png" alt="damage" />
      <p>{{ human().criticalChancePercentage }}% Critical</p>
    </div>
  </div>
  <div class="text-col">
    <div class="button-bar">
      <img
        [class]="infoMode === 'monster' ? 'selected' : ''"
        src="assets/icon/stat/cthulhu.png"
        alt="cthulhu"
        (click)="updateInfoMode('monster')"
      />
      <img
        [class]="infoMode === 'world' ? 'selected' : ''"
        src="assets/icon/stat/forest.png"
        alt="forest"
        (click)="updateInfoMode('world')"
      />
      <img
        [class]="infoMode === 'loot' ? 'selected' : ''"
        src="assets/icon/stat/piggy-bank.png"
        alt="piggy-bank"
        (click)="updateInfoMode('loot')"
      />
      <img
        [class]="infoMode === 'fight' ? 'selected' : ''"
        src="assets/icon/stat/user.png"
        alt="user"
        (click)="updateInfoMode('fight')"
      />
    </div>
    <div>
      <div class="line">
        <img src="assets/icon/footsteps.png" alt="footsteps" />
        <p>{{ human().travellingSpeed }}ms Move speed</p>
      </div>
      <div class="line">
        <img src="assets/icon/sword.png" alt="damage" />
        <p>{{ human().fightingSpeed }}ms Attack speed</p>
      </div>
      <div class="line">
        <img src="assets/icon/loupe.png" alt="damage" />
        <p>{{ human().searchingSpeed }}ms Search speed</p>
      </div>
    </div>
  </div>
</section>
