:host {
    display: block;
}

.card {
    position: relative;
    border-radius: 5px;
    padding: 4px;
    height: 125px;
}

.card img {
    position: absolute;
    width: 100px;
    bottom: -10px;
    right: 0px;
}

.card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin: 10px;
    margin-top: 20px;
    max-height: calc(100dvh - 155px);
    overflow-y: scroll;
}

.normal {
    background-color: brown;
    outline: 3px solid rgb(37, 19, 2);
}

.fire {
    background-color: rgb(164, 11, 11);
    outline: 3px solid rgb(64, 2, 2);
}

.earth {
    background-color: rgb(67, 64, 64);
    outline: 3px solid rgb(82, 40, 1);
}

.wind {
    background-color: rgb(77, 147, 66);
    outline: 3px solid rgb(17, 77, 34);
}

.water {
    background-color: rgb(32, 22, 161);
    outline: 3px solid rgb(5, 2, 37);
}

.badge {
    width: fit-content;
    padding: 2px 4px;
    border-radius: 5px;
}

.unknown {
    background-color: brown;
    outline: 3px solid rgb(37, 19, 2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.unknown img {
    width: 75px;
    position: inherit !important;
}
