<app-modal-layout title="Liste des monstres">
    <div class="card-container">
        @for(monster of monsterList(); track monster.name){ @if(monster.seen) {
        <div class="card" [class]="monster.type">
            <h2>{{ monster.name }}</h2>
            <p class="badge" [class]="monster.type">{{ monster.type }}</p>
            <img [src]="monster.image.base" [alt]="monster.name" />
        </div>
        }@else {
        <div class="card unknown">
            <img src="assets/icon/question.png" alt="question" />
        </div>
        } }
    </div>
</app-modal-layout>
