<div>
    <h2>Welcome back</h2>
    <p class="text">{{ message() }} {{ ellaspedTime() }}</p>
    @if(restored(); as restored) {
    <div>
        <div class="icon-container">
            <img src="assets/object/Wheat.webp" alt="blé" />
            <p>Blé : {{ restored.wheat | roundTo : 2 }}</p>
        </div>
        <div class="icon-container">
            <img src="assets/object/Enchanted_Wheat.webp" alt="blé" />
            <p>Blé enchanté : {{ restored.enchantedWheat | roundTo : 2 }}</p>
        </div>
    </div>
    <div>
        <div class="icon-container">
            <img src="assets/object/Soul.webp" alt="blé" />
            <p>Ame : {{ restored.soul | roundTo : 2 }}</p>
        </div>
        <div class="icon-container">
            <img src="assets/object/Enchanted_Soul.webp" alt="blé" />
            <p>Ame enchanté : {{ restored.enchantedSoul | roundTo : 2 }}</p>
        </div>
    </div>
    <div>
        <div class="icon-container">
            <img src="assets/egg/slime_egg.png" alt="egg" />
            <p>Egg : {{ restored.egg | roundTo : 2 }}</p>
        </div>
    </div>
    <div>
        @if(isProfessionList()){
        <h3>Xp collecté</h3>
        @for(profession of professionList(); track profession.name) {
        <p>+{{ profession.value }}xp en {{ profession.name }}</p>
        } }
    </div>
    }
    <div class="centered">
        <button class="btn" (click)="collect()">Collecter</button>
    </div>
</div>
