<ion-content class="ion-padding custom-modal-content">
  <div class="centered">
    <table class="stats-table">
      <thead>
        <tr>
          <th>Skill</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Dégats</td>
          <td>{{ humanManagerService.damage }}</td>
        </tr>
        <tr>
          <td>Vitesse de deplacement</td>
          <td>{{ humanManagerService.travellingSpeed }} ms</td>
        </tr>
        <tr>
          <td>Vitesse d'attque</td>
          <td>{{ humanManagerService.fightingSpeed }} ms</td>
        </tr>
      </tbody>
    </table>
    <ion-button expand="block" (click)="close()">Fermer</ion-button>
  </div>
</ion-content>
