<ion-content [fullscreen]="true">
    <div class="background"></div>
    <h1>Player information</h1>
    <div class="info">
        <div class="image-wrapper">
            <img
                class="perso-img"
                src="assets/monster/terra_larva/terra_larva.webp"
                alt="player"
            />
        </div>
        <div class="xp-wrapper">
            <h2>Vous</h2>
            <div>
                <p>Niveau</p>
                <app-xp-range [currentXp]="1" [maxXp]="10" />
            </div>
        </div>
    </div>
    <main>
        @if(humanManagerService.human$ | async; as human) {
        <div class="combat-wrapper">
            <h2>Combat</h2>
            <div class="text-combat">
                <div class="stat-group">
                    <div class="line">
                        <img [src]="statIconDict['damage']" alt="damage" />
                        <p>{{ humanManagerService.damage }} Damage</p>
                    </div>
                    <div class="line">
                        <img [src]="statIconDict['precision']" alt="damage" />
                        <p>{{ human.precison }} precision</p>
                    </div>
                </div>

                <div class="stat-group">
                    <div class="line">
                        <img [src]="statIconDict['armorPen']" alt="damage" />
                        <p>{{ human.armorPen }} Armor pen</p>
                    </div>
                    <div class="line">
                        <img
                            [src]="statIconDict['criticalChancePercentage']"
                            alt="damage"
                        />
                        <p>
                            {{ human.criticalChancePercentage * 100 }}% Critical
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="combat-wrapper">
            <h2>Action</h2>
            <div class="text-combat">
                <div class="stat-group">
                    <div class="line">
                        <img
                            [src]="statIconDict['travellingSpeed']"
                            alt="footsteps"
                        />
                        <p>{{ human.travellingSpeed }}ms le deplacement</p>
                    </div>
                    <div class="line">
                        <img
                            [src]="statIconDict['fightingSpeed']"
                            alt="damage"
                        />
                        <p>{{ human.fightingSpeed }}ms l'attaque</p>
                    </div>
                    <div class="line">
                        <img
                            [src]="statIconDict['searchingSpeed']"
                            alt="damage"
                        />
                        <p>{{ human.searchingSpeed }}ms le crochetage</p>
                    </div>
                </div>

                <div class="stat-group">
                    <div class="line">
                        <img
                            [src]="statIconDict['findingPercentage']"
                            alt="findingPercentage"
                        />
                        <p>{{ human.findingPercentage * 100 }}% de pister</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="relic-container">
            <div class="relic-header">
                <h2>Relic</h2>
                <p (click)="dissociate()">X</p>
            </div>
            <div class="relic-info">
                <div
                    class="relic-card"
                    [class.unknown]="!relic()"
                    (click)="select()"
                >
                    <img
                        [src]="!relic() ? 'assets/icon/question.png' : relic()?.imagePath"
                        alt="relic"
                    />
                </div>
                <div>
                    @if(relic(); as relic){
                    <h3>{{relic.name}}</h3>
                    <p class="rank">Rank : {{relic.rank}}</p>
                    <p class="relic-description">{{relic.description}}</p>
                    }
                </div>
            </div>
            <div class="bonus-container">
                <div class="line">
                    <img [src]="relicBonusImagePath()" alt="damage" />
                    <p>{{ relic()?.effet?.value }} {{relic()?.effet?.stat}}</p>
                </div>
            </div>
        </div>

        }
    </main>
    <div class="footer">
        <img
            class="button"
            src="assets/icon/main-menu.png"
            (click)="close()"
            alt="menu"
        />
    </div>
</ion-content>
