<app-modal-layout title="Vos stats">
    <div class="info">
        <div class="image-wrapper">
            <img
                class="perso-img"
                src="assets/monster/terra_larva/Terra_larva.webp"
                alt="player"
            />
        </div>
        <div class="xp-wrapper">
            <h2>Vous</h2>
            <div>
                <p>Niveau</p>
                <app-xp-range
                    [currentXp]="(humanManagerService.human$ | async )?.level ?? 1"
                    [maxXp]="90"
                />
            </div>
        </div>
    </div>
    <main>
        @if(humanManagerService.human$ | async; as human) {
        <div class="combat-wrapper">
            <h2>Combat</h2>
            <div class="text-combat">
                <div class="stat-group">
                    <div class="line">
                        <img [src]="statIconDict['damage']" alt="damage" />
                        <p>{{ humanManagerService.damage }} Damage</p>
                    </div>
                    <div class="line">
                        <img [src]="statIconDict['damage']" alt="damage" />
                        <p>{{ human.damageSpecial }} Damage spé</p>
                    </div>
                    <div class="line">
                        <img [src]="statIconDict['damage']" alt="damage" />
                        <p>{{ human.defense }} Defense</p>
                    </div>
                </div>
                <div class="stat-group">
                    <div class="line">
                        <img [src]="statIconDict['damage']" alt="damage" />
                        <p>{{ human.defenseSpecial }} Defense spé</p>
                    </div>
                    <div class="line">
                        <img [src]="statIconDict['damage']" alt="damage" />
                        <p>{{ human.precision }} Précision</p>
                    </div>
                    <div class="line">
                        <img [src]="statIconDict['damage']" alt="damage" />
                        <p>{{ human.criticalChance }} Critique chance</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="combat-wrapper">
            <h2>Action</h2>
            <div class="text-combat">
                <div class="stat-group">
                    <div class="line">
                        <img
                            [src]="statIconDict['travellingSpeed']"
                            alt="footsteps"
                        />
                        <p>{{ human.travellingSpeed }}ms le deplacement</p>
                    </div>
                    <div class="line">
                        <img
                            [src]="statIconDict['fightingSpeed']"
                            alt="damage"
                        />
                        <p>{{ human.fightingSpeed }}ms l'attaque</p>
                    </div>
                    <div class="line">
                        <img
                            [src]="statIconDict['searchingSpeed']"
                            alt="damage"
                        />
                        <p>{{ human.lockPickingSpeed }}ms le crochetage</p>
                    </div>
                </div>

                <div class="stat-group">
                    <div class="line">
                        <img
                            [src]="statIconDict['findingPercentage']"
                            alt="findingPercentage"
                        />
                        <p>
                            {{ human.findingPercentage * 100 | roundTo : 2}}% de
                            pister
                        </p>
                    </div>
                    <div class="line">
                        <img
                            [src]="statIconDict['findingPercentage']"
                            alt="findingPercentage"
                        />
                        <p>
                            {{ human.gatherNormalBonus * 100 - 100}}% de
                            recolter
                        </p>
                    </div>
                    <div class="line">
                        <img
                            [src]="statIconDict['findingPercentage']"
                            alt="findingPercentage"
                        />
                        <p>
                            {{ human.gatherEnchantedBonus * 100 }}% de resource
                            enchanté
                        </p>
                    </div>
                    <div class="line">
                        <img
                            [src]="statIconDict['findingPercentage']"
                            alt="findingPercentage"
                        />
                        <p>
                            {{ human.lootNormalBonus * 100 -100 }}% d'ame
                            recolté
                        </p>
                    </div>
                    <div class="line">
                        <img
                            [src]="statIconDict['findingPercentage']"
                            alt="findingPercentage"
                        />
                        <p>
                            {{ human.lootEnchantedBonus * 100 }}% d'ame enchanté
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="relic-container">
            <div class="relic-header">
                <h2>Relic</h2>
                @if(relic()){
                <p (click)="dissociate()">X</p>
                }
            </div>
            <div class="relic-info">
                <div
                    class="relic-card"
                    [class.unknown]="!relic()"
                    (click)="select()"
                >
                    <img
                        [src]="!relic() ? 'assets/icon/question.png' : relic()?.imagePath"
                        alt="relic"
                    />
                </div>
                <div>
                    @if(relic(); as relic){
                    <h3>{{relic.name}}</h3>
                    <p class="rank">Rank : {{relic.rank}}</p>
                    <p class="relic-description">{{relic.description}}</p>
                    }
                </div>
            </div>
            <div class="bonus-container">
                <div class="line">
                    <img [src]="relicBonusImagePath()" alt="damage" />
                    <p>{{ relic()?.effet?.value }} {{relic()?.effet?.stat}}</p>
                </div>
            </div>
        </div>

        }
    </main>
</app-modal-layout>
