:host {
    display: block;
}

main {
    height: 100%;
    position: relative;
}

.container {
    display: flex;
    height: 100%;
    justify-content: center;
}

.stone {
    display: inline-block;
    will-change: transform;
    transform: translateZ(0);
    transform-origin: 50% 80%;
    cursor: pointer;
}

/* Animation quand l’image est cliquée */
.stone:active {
    animation: stone-tap 0.45s cubic-bezier(0.2, 0.8, 0.2, 1) both;
}

/* État désactivé */
.stone.disabled {
    opacity: 0.4; /* moins visible */
    pointer-events: none; /* clics ignorés */
    cursor: not-allowed; /* indique visuellement que ce n’est pas cliquable */
}

/* Animation */
@keyframes stone-tap {
    0% {
        transform: translateX(0) scale(1);
    }
    10% {
        transform: translateX(-3px) scaleX(0.96) scaleY(1.04);
    }
    20% {
        transform: translateX(3px) scaleX(1.02) scaleY(0.98);
    }
    35% {
        transform: translateX(-2px) scaleX(0.98) scaleY(1.02);
    }
    50% {
        transform: translateX(2px) scaleX(1.01) scaleY(0.99);
    }
    70% {
        transform: translateX(-1px) scaleX(0.99) scaleY(1.01);
    }
    100% {
        transform: translateX(0) scale(1);
    }
}
p {
    margin: 0;
}

.info-bar {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: calc(100% - 40px);
    margin: 2px 20px;
    padding: 8px;
    background-color: brown;
    outline: 3px solid rgb(37, 19, 2);
    border-radius: 5px;
    bottom: 10px;
    right: 0px;
}

.icon-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    outline: 3px solid rgb(37, 19, 2);
    border-radius: 5px;
    width: fit-content;
    padding: 6px;
    min-width: 60px;
}

.icon-container img {
    width: 10px;
    transform: scale(2) translateY(-1px);
}

.scaled {
    transform: scale(3) !important;
}

.green {
    color: green;
}

.red {
    color: red;
}
