:host {
    background-color: brown;
    height: fit-content;
    padding: 20px;
    border-radius: 4px;
}

.header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 0px 20px;
}

img {
    width: 100%;
    height: 300px;
}
