h2 {
    margin: 0px;
}

.text-col {
    margin: 8px;
    background-color: brown;
    outline: 3px solid rgb(37, 19, 2);
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    justify-content: end;
    padding-bottom: 10px;
}

.stat-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.combat-wrapper {
    background-color: brown;
    outline: 3px solid rgb(37, 19, 2);
    padding: 10px;
    margin: 10px;
}

.text-combat {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

p {
    font-size: 12px;
    margin: 0;
}

.line {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.line img {
    width: 18px !important;
}

.perso-img {
    background-color: rgb(99, 33, 7);
    outline: 2px solid rgb(37, 19, 2);
    border-radius: 5px;
    object-fit: cover;
}

.info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 20px;
    gap: 10px;
}

.xp-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 20px 0px;
}

.image-wrapper {
    background-color: rgb(99, 33, 7);
    outline: 2px solid rgb(37, 19, 2);
    border-radius: 5px;
    max-width: 33%;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 20px;
    width: 100%;
}

.swap {
    width: 30px;
}

.actif-header {
    display: flex;
    justify-content: space-between;
}
