<app-modal-layout title="La région">
    <div class="info">
        <img class="perso-img" src="assets/region/plaine.png" alt="player" />
        <div>
            <h2 class="white">La plaine</h2>
        </div>
    </div>
    <main>
        @if(regionManager.region$ | async; as region) {
        <div class="combat-wrapper">
            <h2>Information</h2>
            <div class="text-combat">
                <div class="stat-group">
                    <div class="line">
                        <img [src]="statIconDict['monsterRate']" alt="damage" />
                        <p>
                            {{ region.monsterSpawnRate * 100 | roundTo : 2}}%
                            monster apparition
                        </p>
                    </div>
                    <div class="line">
                        <img
                            [src]="statIconDict['enchantedMonsterRate']"
                            alt="damage"
                        />
                        <p>
                            {{ region.enchantedMonsterRate * 100 | roundTo:2 }}%
                            enchanted monster
                        </p>
                    </div>
                    <div class="line">
                        <img [src]="statIconDict['eggRate']" alt="damage" />
                        <p>
                            {{ region.eggSpawnRate | toFraction }} monster egg
                        </p>
                    </div>
                </div>
                <div class="stat-group">
                    <div class="line">
                        <img
                            [src]="statIconDict['gatherNormalBonus']"
                            alt="damage"
                        />
                        <p>
                            {{ (region.resourceQuantity * 100) - 100 | roundTo :
                            2}}% resource quantity
                        </p>
                    </div>
                    <div class="line">
                        <img
                            [src]="statIconDict['gatherEnchantedBonus']"
                            alt="damage"
                        />
                        <p>
                            {{ region.enchantedResource * 100 | roundTo: 2}}%
                            enchanted resource
                        </p>
                    </div>
                    <div class="line">
                        <img
                            [src]="statIconDict['lootNormalBonus']"
                            alt="damage"
                        />
                        <p>
                            {{ (region.monsterResourceQuantity * 100) - 100 |
                            roundTo : 2}}% Soul drop
                        </p>
                    </div>
                    <div class="line">
                        <img
                            [src]="statIconDict['lootEnchantedBonus']"
                            alt="damage"
                        />
                        <p>
                            {{ region.enchantedMonsterResource * 100 }}%
                            Enchanted soul drop
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="combat-wrapper">
            <h2>Trésor</h2>
            <div class="text-combat">
                <div class="stat-group">
                    <div class="line">
                        <img
                            [src]="statIconDict['travellingSpeed']"
                            alt="footsteps"
                        />
                        <p>
                            {{ region.monsterWithTresorDropPercentage * 100 |
                            roundTo : 2}}% monster with tresor
                        </p>
                    </div>
                    <div class="line">
                        <img
                            [src]="statIconDict['fightingSpeed']"
                            alt="damage"
                        />
                        <p>
                            {{ region.tresorMapSpawnRate * 100 | roundTo : 2}}%
                            tresor map
                        </p>
                    </div>
                    <div class="line">
                        <img
                            [src]="statIconDict['searchingSpeed']"
                            alt="damage"
                        />
                        <p>
                            {{ region.highQualityChest * 100 }}% high quality
                            tresor
                        </p>
                    </div>
                </div>
            </div>
        </div>
        } @if(assignedMonsterManager.assignedMonster$ | async; as monster){

        <div class="combat-wrapper">
            <div class="actif-header">
                <h2>Actif Monster</h2>
                <img
                    class="swap"
                    src="assets/icon/swap.png"
                    alt="swp"
                    (click)="swapActifMonster()"
                />
            </div>
            <div class="row">
                <div class="image-wrapper">
                    <img
                        [src]="tamedMonsterManager.getImageFromMonster(monster.monsterSpecies).base"
                        alt="monster"
                    />
                </div>
                <div class="column">
                    <h3>{{monster.name}}</h3>
                    <app-xp-range
                        [currentXp]="getMonsterLevel(monster)"
                        [maxXp]="90"
                    />
                </div>
            </div>
        </div>
        }
    </main>
</app-modal-layout>
