:host {
    height: fit-content;
    background-color: rgba(42, 85, 165, 0.658);
}

.list-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    max-height: 75dvh;
    overflow-y: scroll;
}

header {
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    text-align: center;
    background-color: brown;
    outline: 3px solid rgb(37, 19, 2);
    border-radius: 5px;
    padding: 4px;
    display: flex;
    justify-content: center;
    position: relative;
    flex-shrink: 0;
}

h1 {
    margin: 0px;
}

header p {
    font-size: 24px;
    position: absolute;
    right: 10px;
}

p,
h3 {
    margin: 0;
}
