.background {
    z-index: -1;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    background-image: url('../../../assets/background/brown.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.icon-button {
    position: absolute;
    z-index: 500;
    top: 100px;
    right: 7px;
    height: 40px;
    width: 40px;
    padding: 2px;
    background-color: brown;
    outline: 3px solid rgb(37, 19, 2);
    border-radius: 5px;
}

h1 {
    margin-right: 10px;
    margin-left: 10px;
    text-align: center;
    background-color: brown;
    outline: 3px solid rgb(37, 19, 2);
    border-radius: 5px;
    padding: 4px;
}

h3 {
    margin: 0px 0px;
}

.relic-list-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    margin: 0px 20px;
}

.relic-card {
    position: relative;
    background-color: brown;
    outline: 3px solid rgb(37, 19, 2);
    border-radius: 5px;
    padding: 4px;
}

h2 {
    font-size: 16px;
    margin: 50px 10px 5px;
    color: white;
}

.unknown {
    background-color: #555;
    color: #ccc;
    border-color: #888;
    transform: none;
    box-shadow: none;
}

.badge {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 10px;
    outline: 1px solid rgb(37, 19, 2);
    background-color: rgba(197, 140, 15, 0.664);
    border-radius: 100%;
    padding: 4px 6px;
    width: fit-content;
}

.selected {
    background-color: rgb(206, 15, 15);
    outline: 5px solid rgb(37, 19, 2);
}

.relic-info {
    position: relative;
    margin-right: 10px;
    margin-left: 10px;
    background-color: brown;
    outline: 3px solid rgb(37, 19, 2);
    border-radius: 5px;
    padding: 4px;
    text-align: left;
}

.relic-info p {
    margin: 0;
}


.stat-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.line {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2px;
}

.line img {
    width: 18px;
}

.rank {
    position: absolute;
    top: 5px;
    right: 5px;
}

.btn {
    background-color: #8B1E1E;
    /* Rouge sombre assorti au panneau */
    color: white;
    border: 2px solid #fff;
    border-radius: 8px;
    padding: 8px 16px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.2s;
}

.btn:hover {
    background-color: #A52A2A;
    /* Un rouge un peu plus clair au survol */
    transform: scale(1.05);
}

.btn:active {
    transform: scale(0.95);
    background-color: #7A1717;
}

.btn:disabled {
    background-color: #555;
    color: #ccc;
    border-color: #888;
    transform: none;
    box-shadow: none;
}

.btn:disabled:hover,
.btn:disabled:active {
    background-color: #555;
    transform: none;
}