<div class="header">
    <h2>Relic Disponible</h2>
    <p (click)="close()">X</p>
</div>
<div class="relic-list-container">
    @if(relicList.length === 0){
    <p>Aucune relic disponible</p>
    } @for(relic of relicList; track relic.name){
    <div
        class="relic-card"
        [class.selected]="selectedId() === relic.id"
        (click)="select(relic.id)"
    >
        <img
            [src]="
                relic.quantity === 0
                    ? 'assets/icon/question.png'
                    : relic.imagePath
            "
            alt="relic"
        />
    </div>
    }
</div>
<div class="centered">
    <button
        class="btn"
        [disabled]="!selectedId()"
        (click)="associate(selectedId())"
    >
        Confirmer
    </button>
</div>
