<ion-content class="ion-padding custom-modal-content">
    <section>
        <h1>Lieux</h1>
        <main>
            <app-menu-button
                name="Tower"
                path="assets/icon/tower.png"
                (isClicked)="openCombatTowerModal()"
            />
            <app-menu-button
                name="Olympus"
                path="assets/icon/hands.png"
                (isClicked)="openGodPalaceModal()"
                [isActive]="
                    (worldService.world$ | async)?.offrandeAvailable ?? false
                "
            />
            <app-menu-button
                name="Map"
                path="assets/icon/pin.png"
                (isClicked)="openWorldMapModal()"
                [isActive]="
                    (worldService.world$ | async)?.worldMapAvailable ?? false
                "
            />
        </main>
    </section>

    <section>
        <h1>Player</h1>
        <main>
            <app-menu-button
                name="Player"
                path="assets/icon/helmet.png"
                (isClicked)="openPlayerStat()"
            />

            <app-menu-button
                name="Region"
                path="assets/icon/world-level.png"
                (isClicked)="openRegionStat()"
                [isActive]="
                    (worldService.world$ | async)?.regionAvailable ?? false
                "
            />
            <app-menu-button
                name="Metier"
                path="assets/icon/skilltree.png"
                (isClicked)="openProfessionModal()"
                [isActive]="
                    (worldService.world$ | async)?.skillTreeAvailable ?? false
                "
            />
            <app-menu-button
                name="Relic"
                path="assets/icon/relic.png"
                (isClicked)="openRelicListModal()"
                [isActive]="
                    (worldService.world$ | async)?.relicAvailable ?? false
                "
            />
        </main>
    </section>

    <section>
        <h1>Monster</h1>
        <main>
            <app-menu-button
                name="Bestiaire"
                path="assets/icon/bestiary.png"
                (isClicked)="openBestiaryModal()"
                [isActive]="
                    (worldService.world$ | async)?.bestiaryAvailable ?? false
                "
            />
            <app-menu-button
                name="incubateur"
                path="assets/icon/creature.png"
                (isClicked)="openIncubateurModal()"
            />
            <app-menu-button
                name="Stable"
                path="assets/icon/stable.png"
                (isClicked)="openStableModal()"
            />
        </main>
    </section>

    <div class="footer">
        <img
            class="button"
            src="assets/icon/main-menu.png"
            (click)="closeMenuModal()"
            alt="menu"
        />
    </div>
</ion-content>
