<ion-content [fullscreen]="true">
    <div class="header">
        <h1>Liste des metiers</h1>
        <p (click)="close()">X</p>
    </div>
    <div class="background"></div>
    <div class="profession-list">
        @for(profession of (professionManager.professionList$ | async); track
        profession.name){
        <app-profession-card [profession]="profession" />
        }
    </div>
    <div class="footer">
        <img
            class="button"
            src="assets/icon/main-menu.png"
            (click)="close()"
            alt="menu"
        />
    </div>
</ion-content>
