:host {
    display: flex;
    flex-direction: row;
    align-items: start;
    background-color: brown;
    gap: 4px;
    padding: 6px;
    padding-top: 20px;
    border-bottom: 3px solid rgb(37, 19, 2);
    height: 80px;
}

img {
    transform: scale(1.5) translateY(3px);
}

p {
    padding: 0px;
    margin: 0px;
}

.perso-icon {
    position: relative;
    background-color: brown;
    outline: 3px solid rgb(37, 19, 2);
    border-radius: 5px;
    padding: 4px;
    width: 45px;
}


.badge {
    position: absolute;
    top: 3px;
    right: 3px;
    font-size: 10px;
    outline: 1px solid rgb(37, 19, 2);
    background-color: rgba(15, 197, 33, 0.664);
    border-radius: 100%;
    padding: 4px 6px;
    width: fit-content;
}