:host {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: brown;
  padding: 6px;
  padding-top: 20px;
  border-bottom: 3px solid rgb(37, 19, 2);
  height: 75px;
}

p {
  padding: 2px;
  margin: 0;
  font-size: 12px;
}

.icon-container {
  display: flex;
  align-items: center;

}

.icon-container img {
  width: 10px;
  transform: scale(2) translateY(-1px);
}