<ion-content [fullscreen]="true">
    <app-info-bar />
    @if(isRessourceVisible()){
    <div class="panel-wrapper">
        <app-ressource-panel [loot]="lootManagerService.loot$ | async" />
    </div>
    }
    <div class="background-wrapper">
        <div
            class="background-image"
            *ngIf="previousImageUrl"
            [ngStyle]="{'background-image': 'url(' + previousImageUrl + ')'}"
        ></div>
        <div
            class="background-image new"
            [class.loaded]="imageLoaded"
            [ngStyle]="{'background-image': 'url(' + imageUrl + ')'}"
            (load)="onImageLoad()"
        ></div>
    </div>

    <div class="page-container">
        @if (currentMap().map) {
        <div class="area-wrapper">
            @switch (currentMap().map) { @case ('empty') {
            <app-empty-area /> } @case ('tresor') { <app-tresor-area />
            <button class="special-button" (click)="emitEvent('skip')">
                <p>Skip</p>
            </button>
            } @case('monster') { <app-monster-area />
            <button class="special-button" (click)="emitEvent('flee')">
                <p>Fuir</p></button
            >} }
        </div>
        }
        <app-flash-overlay />
    </div>

    <div class="footer">
        <app-info-footer (ressourceVisible)="setRessource($event)" />
    </div>
</ion-content>
