.background-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
    opacity: 1;
    transition: opacity 0.1s ease-in-out;
    z-index: 0;
}

.icon-button {
    position: absolute;
    z-index: 500;
    top: 100px;
    right: 7px;
    height: 40px;
    width: 40px;
    padding: 2px;
    background-color: brown;
    outline: 3px solid rgb(37, 19, 2);
    border-radius: 5px;
}

.special-button {
    position: absolute;
    z-index: 500;
    top: 150px;
    right: 7px;
    height: 40px;
    width: 40px;
    padding: 2px;
    background-color: brown;
    outline: 3px solid rgb(37, 19, 2);
    border-radius: 5px;
}

header {
    height: fit-content;
    margin-right: 4px;
    margin-left: 4px;
    text-align: center;
    background-color: brown;
    outline: 3px solid rgb(37, 19, 2);
    border-radius: 5px;
    padding: 4px;
    min-height: 40px;
    display: flex;
    justify-content: center;
    position: relative;
}

h1 {
    margin: 0px;
}

header p {
    font-size: 24px;
    position: absolute;
    top: 5px;
    right: 10px;
}

.content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.altar-container {
    z-index: 10;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    height: 100%;
    padding-top: 50px;
}

.altar {
    z-index: 10;
    grid-row: 2;
    transform: scale(1.3);
}

.title {
    grid-row-start: 1;
    background-color: brown;
    outline: 3px solid rgb(37, 19, 2);
    border-radius: 5px;
    height: fit-content;
    padding: 4px;
}

.title p {
    margin: 0;
    text-align: center;
    font-size: 24px;
}

.altar-description {
    min-height: fit-content;
    background-color: brown;
    outline: 3px solid rgb(37, 19, 2);
    border-radius: 5px;
    padding: 4px;
    grid-row: 4;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.altar-description h3,
p {
    margin: 0;
}

.bouton-offrande {
    background-color: #8b1e1e;
    /* Rouge sombre assorti au panneau */
    color: white;
    border: 2px solid #fff;
    border-radius: 8px;
    padding: 8px 16px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.2s;
}

.bouton-offrande:hover {
    background-color: #a52a2a;
    /* Un rouge un peu plus clair au survol */
    transform: scale(1.05);
}

.bouton-offrande:active {
    transform: scale(0.95);
    background-color: #7a1717;
}

.bouton-offrande:disabled {
    background-color: #555;
    color: #ccc;
    border-color: #888;
    transform: none;
    box-shadow: none;
}

.bouton-offrande:disabled:hover,
.bouton-offrande:disabled:active {
    background-color: #555;
    transform: none;
}

.icon {
    height: 25px;
}

.value-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-bottom: 4px;
}

.green {
    color: green;
}

.red {
    color: red;
}

.description-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.description-header img {
    height: 25px;
}

.reverse {
    transform: rotate(180deg);
}

.justify {
    min-height: 72px;
}

.maxLevel {
    position: absolute;
    right: 30px;
}
