<ion-content class="ion-padding custom-modal-content">
    <div
        class="background-image"
        [ngStyle]="{ 'background-image': 'url(assets/map/God_Hotel.webp)' }"
    ></div>
    <div class="content">
        @if(selectedGod(); as selectedGod) {

        <div class="altar-container">
            <header>
                <h1>{{ selectedGod.name }}</h1>
                <p (click)="close()">X</p>
            </header>
            <img
                class="altar"
                [src]="selectedGod.imagePath"
                alt="altar"
                (click)="goToMetaPalace()"
            />
            <div class="altar-description">
                <div class="description-header">
                    <img
                        (click)="next(-1)"
                        src="assets/icon/back.png"
                        alt="back"
                    />
                    @if(selectedGod.description != ''){

                    <div class="value-container">
                        <img
                            class="icon"
                            [src]="`assets/object/${selectedGod.cost.resource}.webp`"
                            alt="ressource"
                        />
                        <p>
                            <span
                                [ngClass]="
                                    lootValue() >= getPrice(selectedGod)
                                        ? 'green'
                                        : 'red'
                                "
                                >{{ lootValue() | roundTo : 2 }}</span
                            >
                            /
                            {{ getPrice(selectedGod) | roundTo : 2 }}
                        </p>
                    </div>
                    }
                    <img
                        (click)="next(1)"
                        class="reverse"
                        src="assets/icon/back.png"
                        alt="back"
                    />
                </div>
                <p class="justify">
                    {{ selectedGod.description }}
                </p>
                @if(selectedGod.description != ''){
                <div class="centered">
                    <button
                        class="bouton-offrande"
                        (click)="offer(selectedGod)"
                        [disabled]="
                            lootValue() < getPrice(selectedGod) ||
                            selectedGod.level >= selectedGod.maxLevel
                        "
                    >
                        Offrir
                    </button>
                    <p class="maxLevel">
                        {{ selectedGod.level }} / {{ selectedGod.maxLevel }}
                    </p>
                </div>
                }
            </div>
        </div>
        }
    </div>
</ion-content>
