<div
    class="background-image"
    [ngStyle]="{ 'background-image': 'url(assets/map/MetaGod_Hotel.webp)' }"
></div>

<div class="content">
    <img class="altar" src="assets/altar/Altar_MetaGod.webp" alt="altar" />
    <div class="altar-description">
        <p class="justify">
            {{ message() }}
        </p>
        <div class="centered gap">
            <button class="bouton-offrande" (click)="openEchangeModal()">
                Echanger</button
            ><button class="bouton-offrande" (click)="close()">Quitter</button>
        </div>
    </div>
</div>
