.background-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
    opacity: 1;
    transition: opacity 0.1s ease-in-out;
    z-index: 0;
}

.content {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
}

.icon-button {
    position: absolute;
    z-index: 500;
    top: 100px;
    right: 7px;
    height: 40px;
    width: 40px;
    padding: 2px;
    background-color: brown;
    outline: 3px solid rgb(37, 19, 2);
    border-radius: 5px;
}

.altar {
    z-index: 2;
    grid-row-start: 2;
}

.altar-description {
    z-index: 2;
    grid-row-start: 3;
    background-color: brown;
    outline: 3px solid rgb(37, 19, 2);
    border-radius: 5px;
    padding: 4px;
}

.bouton-offrande {
    background-color: #8b1e1e;
    /* Rouge sombre assorti au panneau */
    color: white;
    border: 2px solid #fff;
    border-radius: 8px;
    padding: 8px 16px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.2s;
}

.bouton-offrande:hover {
    background-color: #a52a2a;
    /* Un rouge un peu plus clair au survol */
    transform: scale(1.05);
}

.bouton-offrande:active {
    transform: scale(0.95);
    background-color: #7a1717;
}
