.background {
    z-index: -1;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    background-image: url("../../../assets/background/brown.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h1 {
    margin-right: 10px;
    margin-left: 10px;
    text-align: center;
    background-color: brown;
    outline: 3px solid rgb(37, 19, 2);
    border-radius: 5px;
    padding: 4px;
}

.footer {
    position: absolute;
    z-index: 5;
    width: 100%;
    bottom: 0px;
    left: 0px;
    height: 55px;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    background-color: brown;
    border-top: 3px solid rgb(37, 19, 2);
}

.footer img {
    width: 20px;
}

.footer .button {
    margin-top: 4px;
    height: 24px;
    width: 24px;
    padding: 2px;
    background-color: rgb(99, 33, 7);
    outline: 2px solid rgb(37, 19, 2);
    border-radius: 5px;
}

.badge {
    position: absolute;
    bottom: 2px;
    right: 3px;
    font-size: 10px;
    color: rgb(41, 9, 185);
    font-weight: bold;
    border-radius: 100%;
    padding: 4px 6px;
    width: fit-content;
}

h2 {
    margin-left: 20px;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    height: 100%;
    border-radius: 5px;
    margin: 20px;
}

.egg-incubateur-card {
    position: relative;
    background-color: brown;
    outline: 3px solid rgb(37, 19, 2);
    border-radius: 5px;
    padding: 4px;
    max-width: 80px;
    min-height: 55px;
}


.egg-card {
    position: relative;
    background-color: brown;
    outline: 3px solid rgb(37, 19, 2);
    border-radius: 5px;
    padding: 4px;
    max-width: 80px;
    height: 55px;
}

.egg-card img {
    transform: translateY(-5px);
}

main {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
    margin-bottom: 80px;
    margin-top: 40px;
}

.incubateur {
    background-color: black;
    height: 350px;
    width: 100%;
    margin: 0px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.middle {
    transform: translateY(50px);
}