.badge {
    position: absolute;
    bottom: 2px;
    right: 3px;
    font-size: 10px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    border-radius: 100%;
    padding: 4px 6px;
    width: fit-content;
}

h2 {
    margin-left: 20px;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    height: 100%;
    border-radius: 5px;
    margin: 20px;
}

.egg-incubateur-card {
    position: relative;
    background-color: brown;
    outline: 3px solid rgb(37, 19, 2);
    border-radius: 5px;
    padding: 4px;
    width: 80px;
    height: 80px;
}

.egg {
    width: 100%;
    height: 100px;
    transform: translateY(-16px);
}

.unknown {
    height: 100%;
    padding: 2px;
}

.activated {
    outline: 3px solid rgb(37, 19, 2);
    background-image: url("../../../assets/incubateur/incubateur.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    overflow: visible;
}

.deactivated {
    outline: 3px solid rgb(37, 19, 2);
    background-image: url("../../../assets/incubateur/empty.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    overflow: visible;
}

.egg-card {
    position: relative;
    background-color: brown;
    outline: 3px solid rgb(37, 19, 2);
    border-radius: 5px;
    padding: 4px;
    max-width: 80px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.incubateur-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
    margin-bottom: 80px;
    margin-top: 40px;
}

.incubateur {
    background-color: black;
    height: 350px;
    width: 100%;
    margin: 0px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.middle {
    transform: translateY(50px);
}
