<ion-content class="ion-padding custom-modal-content">
  <div
    class="background-image"
    [ngStyle]="{ 'background-image': 'url(assets/map/God_Hotel.webp)' }"
  ></div>
  <div class="content">
    <button class="icon-button" (click)="openWorldMapModal()">
      <img src="assets/icon/earth.png" alt="earth" />
    </button>
    <button class="special-button" (click)="close()">
      <img src="assets/icon/back.png" alt="back" />
    </button>
    <button class="next-button" (click)="next()">
      <img src="assets/icon/back.png" alt="back" />
    </button>
    <div class="altar-container">
      <img class="altar" [src]="selectedGod().imagePath" alt="altar" />
      <div class="altar-description">
        <h3>Offrande</h3>
        <p class="justify">
          {{ selectedGod().description }}
        </p>
        <div class="centered">
          <button class="bouton-offrande">Offrir</button>
        </div>
      </div>
    </div>
  </div>
</ion-content>
