:host {
  display: block;
  height: 100%;
}

ion-content {
  --padding-top: 0;
  --padding-bottom: 0;
  --padding-start: 0;
  --padding-end: 0;
}

.pixi-container {
  width: 100vw;
  height: 100vh;
}
