<ion-content [fullscreen]="true">
  <app-top-hud-bar />

  @if(isCombatRunning()){
  <div class="absolute z-50 right-0 top-40">
    <app-monster-bar
      monsterName="Slime"
      [currentHp]="combatService.monsterLife()"
      [maxHp]="combatService.monsterMaxLife()"
    />
  </div>
  }

  <div class="game-viewport">
    <div id="pixiGameContainer" #pixiGameContainer class="pixi-container"></div>

    <div class="absolute bottom-5 flex w-full justify-center">
      @if(isCombatRunning()) {
      <div class="flex flex-col w-full gap-2">
        <app-combat-controller (attack)="attack()" />
        <app-player-bar
          (flee)="leaveCombat()"
          [currentHp]="combatService.playerLife()"
          [maxHp]="combatService.playerMaxLife()"
        />
      </div>

      }@else {
      <app-move-controller />
      }
    </div>
  </div>

  <app-bottom-hud-bar />
</ion-content>
