<div
  class="bottom-shadow absolute left-0 right-0 top-0 z-50 flex h-16 items-center gap-3 bg-layer-panel-light px-3"
>
  <div
    class="hud-slot flex h-12 w-12 shrink-0 items-center justify-center rounded-xl"
  >
    <img
      src="assets/monster/slime/Slime_Base.webp"
      alt="slime portrait"
      class="h-9 w-9 scale-150 object-contain"
    />
  </div>

  <div
    class="relative flex h-12 flex-1 gap-2 items-center justify-center rounded-xl bg-primary-500"
  >
    <div
      class="pointer-events-none absolute inset-0 opacity-15 wood-grain"
    ></div>

    <div
      class="hud-slot relative flex min-w-24 items-center justify-center gap-2 rounded-lg px-3 py-1"
    >
      <img
        src="assets/object/Wheat.webp"
        alt="wheat"
        class="h-5 w-5 object-contain"
      />

      <span
        class="text-sm font-bold tracking-wide text-text-primary drop-shadow"
      >
        {{ wheatQuantity() }}
      </span>
    </div>
    <div
      class="hud-slot relative flex min-w-24 items-center justify-center gap-2 rounded-lg px-3 py-1"
    >
      <img
        src="assets/object/Soul.webp"
        alt="wheat"
        class="h-5 w-5 object-contain"
      />

      <span
        class="text-sm font-bold tracking-wide text-text-primary drop-shadow"
      >
        100
      </span>
    </div>
    <div
      class="hud-slot relative flex min-w-24 items-center justify-center gap-2 rounded-lg px-3 py-1"
    >
      <img
        src="assets/object/Glitched_Stone.webp"
        alt="wheat"
        class="h-5 w-5 object-contain scale-200"
      />

      <span
        class="text-sm font-bold tracking-wide text-text-primary drop-shadow"
      >
        100
      </span>
    </div>
  </div>
</div>
