@if(loot(); as loot) {
<div>
    <div class="icon-container">
        <img src="assets/object/Wheat.webp" alt="blé" />
        <p>Blé : {{ loot.wheatQuantity }}</p>
    </div>
    <div class="icon-container">
        <img src="assets/object/Enchanted_Wheat.webp" alt="blé" />
        <p>Blé enchanté : {{ loot.enchantedWheatQuantity }}</p>
    </div>
</div>
<div>
    <div class="icon-container">
        <img src="assets/object/Soul.webp" alt="blé" />
        <p>Ame : {{ loot.soul }}</p>
    </div>
    <div class="icon-container">
        <img src="assets/object/Enchanted_Soul.webp" alt="blé" />
        <p>Ame enchanté : {{ loot.enchantedSoul }}</p>
    </div>
</div>
}
