<div class="absolute z-50 right-0 top-40">
  <app-monster-bar
    monsterName="Slime"
    [currentHp]="combatService.monsterLife()"
    [maxHp]="combatService.monsterMaxLife()"
  />
</div>

<div class="absolute bottom-5 flex w-full justify-center">
  <div class="flex w-full flex-col gap-2">
    <app-combat-controller
      (attack)="attack()"
      [disabled]="!combatService.canPlayerAttack()"
    />
    <app-player-bar
      (flee)="leaveCombat()"
      [currentHp]="combatService.playerLife()"
      [maxHp]="combatService.playerMaxLife()"
    />
  </div>
</div>
