<app-modal-layout title="Menu" [showMenuButton]="false">
  <div class="menu-content">
    @for (section of sections; track section.title) {
    <section class="menu-section">
      <h2 class="menu-section-title">{{ section.title }}</h2>

      <div class="menu-section-grid">
        @for (item of section.items; track item.label) {
        <app-menu-button [label]="item.label" [iconSrc]="item.iconSrc" [disabled]="item.disabled ?? false"
          (selected)="selectItem(item)" />
        }
      </div>
    </section>
    }
  </div>
</app-modal-layout>